v<main class="p-5">
    <div class="card p-5">
        <p id="test">Hell o World! Hello World</p>
        <p id="test">Hello World!</p>
        <p id="test">Hello World!</p>
        <span hidden class="test">test</span>
    </div>

    <pre>	jkl;j;l</pre>
    <div>Block</div>
    <div>Block</div>
    <div>Block</div>
    <div>Block</div>

    <div style="padding: 50px 0px 50px 100px; background: gray; height: 200px">
        <span>Inline</span>
        <span>Inline</span>
        <span>Inline</span>
        <span class="block">Inline-Block Inline-Block Inline-Block Inline-Block Inline-Block</span>
    </div>
    <div>Block</div>
</main>