<header class="header">
    <a href="#test">
        {{>logo}}
    </a>
    <nav class="header_nav">
        <div class="header_nav_right">
            {{>nav list=header}}
        </div>
    </nav>
</header>

<main class="main">
    <div class="info">
        <h1 class="info_title">{{info.title}}</h1>

        <p class="info_text">{{info.description}}</p>
    </div>

    {{#with form}}
    {{>form data=this }}
    {{/with}}
</main>

<div class="updates">
    {{#with updates}}
    {{>updates data=this}}
    {{/with}}
</div>

<div class="expirience">
    {{#with expirience}}
    {{>expirience data=this }}
    {{/with}}
</div>

<footer class="footer" id="test">
    <div>
        {{>logo}}
        <span class="footer_copyright">Copyright 2023-2024</span>
    </div>

    {{#each footer}}
    <div>
        <span class="footer_title">{{title}}</span>
        {{>nav list=links isVertical=true}}
    </div>
    {{/each}}
</footer>