:root {
  --text-color: #212529;
  --space-medium: 24px;
}

.page {
  background: #ffffff;
  padding: 0.15px;
}

.page-content {
  max-width: 960px;
  margin: 0 auto;
}

.header {
  padding: var(--space-medium);
  border-bottom: 1px solid #dee2e6;
}

.logo {
  font-size: 17px;
}

.divider {
  margin: 0;
  height: 1px;
  background: #dee2e6;
}

/* .nav {
  display: block;
} */

.nav-link {
  color: #343a40;
  font-size: 16px;
  text-decoration: none;
  padding: 0;
}

.nav-link:hover {
  text-decoration: underline;

  opacity: 0.5;
}

.nav-vertical {
  display: block;
}

.nav-inlain > .nav-link:not(:last-child) {
  margin-right: var(--space-medium);
}

.nav-vertical > .nav-link:not(:last-child) {
  margin-bottom: 12px;
}

.header-nav-right {
  margin-left: auto;
  width: fit-content;
}

.page-block:not(:last-of-type) {
  margin-bottom: 80px;
}

.footer {
  padding: var(--space-medium) 0;
  border-top: 1px solid #dee2e6;
}

.footer-copyright {
  font-size: 14px;
  color: #6c757d;
  display: block;
  margin-top: 12px;
}

.footer-title {
  font-size: 20px;
  color: var(--text-color, #212529);
  display: block;
  margin-bottom: 12px;
}

.hero-title {
  font-size: 56px;
  color: var(--text-color, #212529);
  font-weight: 500;
  margin-bottom: 12px;
  text-align: center;
}

.hero-text {
  color: var(--text-color, #212529);
  font-size: 20px;
  text-align: center;
  max-width: 585px;
  margin: 0 auto;
  line-height: 150%;
}

.plans-card:not(:last-of-type) {
  margin-right: var(--space-medium);
}

.card-header {
  padding: 12px;
  text-align: center;
  font-size: var(--space-medium);
  color: var(--text-color, #212529);
}

.card-body {
  padding: var(--space-medium);
}

.card-block {
  text-align: center;
}

.card-block:not(:last-of-type) {
  margin-bottom: var(--space-medium);
}

.card-price-amount {
  font-size: 40px;
  color: var(--text-color, #212529);
}

.card-price-duration {
  font-size: 29px;
  color: #6c757d;
  vertical-align: 15px;
}

.card-description-item {
  font-size: 16px;
  color: var(--text-color, #212529);
  display: block;
}

.card-description-item:not(:last-of-type) {
  margin-bottom: 12px;
}

.card-button {
  display: block;
  width: 100%;
  font-size: 19px;
  padding: 9px;
}

.card {
  border: 1px solid blue;
  border-radius: 15px;
}

.card:hover {
  outline: 1px solid blue;
  outline-offset: 5px;
  cursor: not-allowed;
  box-shadow: 5px 5px 10px 1px rgba(116, 160, 255, 0.254);
  opacity: 0.5;
}

.btn {
  border-radius: 25px;
}

.btn:hover {
  box-shadow: 5px 5px 10px 1px rgba(116, 160, 255, 0.254);

  opacity: 0.3;
}

h1 {
  text-shadow: 0px 0px 10px rgba(255, 0, 0, 0.392);
}

.plans-card:nth-child(2) {
  visibility: collapse;
}

.hero-text {
  background: grey;
  max-width: 400px;
  width: 600px;
  hyphens: manual;
  overflow: auto;
  resize: none;
  word-spacing: 3px;
}

.hero-title {
  max-width: 660px;
  margin: 0 auto;
  margin-bottom: 12px;
  height: 65px;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* .page {
  background-image: url('/img/test2.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
} */

.hero-text {
  padding: 40px;
  color: #00ff48;

  border-image-source: url('/img/test2.jpg');
  border-image-width: 10% 10%;
  border-image-slice: 10% 10%;

  border-image-outset: 30px;
}

.card-block {
  /* list-style-type: upper-alpha; */
  padding: 0;
  list-style-position: inside;
  list-style-image: linear-gradient(
    to bottom right,
    blue,
    red
  );
}

.card-description-item {
  display: list-item;
}

/* .table tr {
  border: 1px solid #343a40;
} */

.table tr td {
  border: 1px solid #4f6983;
  border-bottom-color: red;
  border-right-color: blue;
}

.table {
  table-layout: fixed;
  width: 600px;
  border-collapse: unset;
  border-spacing: 10px 20px;
  caption-side: top;
  empty-cells: hide;
}

.nav-link::before,
.nav-link::after {
  content: ' ';
  display: inline-block;
  width: 10px;
  height: 10px;
  background-image: url('/img/test2.jpg');
}

.nav-link::before {
  margin-right: 15px;
}

.nav-link::after {
  margin-left: 15px;
}

.calc {
  width: 600px;
  margin-left: calc(50% - (600px / 2));
}
