@import '/css/var.css';

@font-face {
  font-family: Segment;
  src: url('/font/Segment-Regular.otf');
  font-weight: 400;
}

@font-face {
  font-family: Segment;
  src: url('/font/Segment-SemiBold.otf');
  font-weight: 600;
}

@keyframes fly {
  from {
    top: 0;
    left: 0;
    background: red;
    width: 500px;
  }
  25% {
    top: 500px;
    left: 500px;
    background: blue;
    width: 100px;
  }
  50% {
    left: 0;
    background: yellow;
    width: 50px;
  }
  to {
    top: 0;
    left: 0;
    background: purple;
  }
}

/*=========================*/
.page {
  background: var(--color-white);
  padding: 0.15px;

  display: flex;
  justify-content: center;
}

.page-content {
  max-width: var(--page-wigth);
  width: 100%;
  display: flex;
  flex-direction: column;

  gap: 80px;
}
/*==========================*/

.header {
  padding: var(--space-l) 0;
  border-bottom: 1px solid var(--color-border);
  display: flex;
  justify-content: space-between;

  position: sticky;

  max-width: var(--page-wigth);
  width: 100%;

  top: 0;

  background-color: var(--color-white);

  z-index: 1;
}

.logo {
  font-size: 17px;
  background: var(--color-primary);
  color: var(--color-white);
  width: var(--space-l);
  height: var(--space-l);
  border-radius: calc(var(--space-m) / 2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav {
  display: flex;
}

.nav_inlain {
  gap: var(--space-l);
}

.nav_vertical {
  gap: var(--space-xm);
  flex-direction: column;
}

.nav_link {
  color: var(--color-text);
  font-size: var(--size-d);
  text-decoration: none;
  padding: 0;
  line-height: 100%;
  transition-property: color;
  transition-duration: 1s;
}

.nav_link:hover {
  text-decoration: underline;
  color: var(--color-primary);
}

.footer {
  padding: var(--space-l) 0;
  border-top: 1px solid var(--color-border);
  display: flex;
  justify-content: space-between;
}

.footer-copyright {
  font-size: var(--size-s);
  color: var(--color-text);
  display: block;
  margin-top: var(--space-l);
}

.footer-title {
  font-size: var(--size-l);
  color: var(--color-title);
  display: block;
  margin-bottom: var(--space-l);
  font-weight: var(--width-title);
}

.hero {
  display: flex;
  gap: var(--space-b);
  align-items: center;

  padding: var(--space-b);
  border-bottom: 1px solid var(--color-border);
}

.hero-image {
  width: 500px;
  height: 500px;
  border-radius: var(--space-m);
}

.hero-content {
  display: flex;
  flex-direction: column;
  gap: var(--space-l);
}

.hero-title {
  font-size: 50px;
  color: var(--color-title);
  font-weight: var(--width-title);
  line-height: 120%;
  font-weight: var(--width-title);
}

.hero-text {
  color: var(--color-text);
  font-size: var(--size-l);
  font-weight: var(--width-text);
  line-height: 170%;
}

.blog {
  display: flex;
  gap: var(--space-b);
  padding: var(--space-b);
  border-bottom: 1px solid var(--color-border);
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: var(--space-l);
}

.card-img {
  width: 140px;
  height: 140px;
  border-radius: 50%;
}

.card-title {
  color: var(--color-title);
  font-size: 32px;
  font-weight: var(--width-title);
}

.card-text {
  color: var(--color-text);
  font-size: var(--size-d);
  font-weight: var(--width-text);
}

.button {
  display: inline-block;
  font-size: var(--size-d);
  text-decoration: none;
  border-radius: var(--space-m);
  padding: var(--space-m) var(--space-xm);
  transition-property: opacity, background-color, color;
  transition-duration: 1s;
}

.card-button {
  color: var(--color-white);
  background-color: var(--color-primary);
}

.button:hover {
  opacity: 0.7;
  background-color: yellow;
  color: red;
}

.form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--color-primary);
  padding: var(--space-l);
  border-radius: var(--space-m);
}

.form-content {
  display: flex;
  flex-direction: column;
  gap: var(--space-m);
}

.form-title {
  font-size: 27px;
  font-weight: var(--width-title);
  color: var(--color-white);
}

.form-info {
  font-size: var(--size-d);
  font-weight: var(--width-text);
  color: var(--color-white);
}

.form-button {
  background-color: var(--color-white);
  width: 100%;
  max-width: 160px;
  color: var(--color-text);
}

.hero-slider-icon {
  background: var(--color-primary);
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--space-m);
  color: var(--color-white);
  position: absolute;
  top: calc(50% - 15px);
}

.hero-slider-icon:hover {
  opacity: 0.5;
  cursor: pointer;
}

.hero-slider {
  position: relative;
}

.hero-slider-left {
  left: var(--space-l);
}

.hero-slider-rigth {
  right: var(--space-l);
}

.modal {
  position: fixed;
  top: 200px;
  left: 200px;

  /* height: 100px; */
  width: 600px;
  background: black;
  color: #ffffff;

  padding: 24px;
  border-radius: 24px;
  line-height: 150%;

  z-index: 2;

  /* transition-property: top;
  transition-duration: 3s;
  transition-timing-function: cubic-bezier(
    0.6,
    0.04,
    0.98,
    0.335
  );
  transition-delay: 3s; */
}

.modal {
  animation-name: fly;
  animation-duration: 5s;
  animation-timing-function: cubic-bezier(
    0.92,
    0,
    0.91,
    0.66
  );
  animation-delay: 1s;
  /* animation-iteration-count: infinite; */
  animation-direction: alternate-reverse;
  animation-fill-mode: forwards;
}

body:hover .modal {
  animation-play-state: paused;
}

.modal-image {
  width: 70px;
  height: 60px;
  margin-top: 12px;
  margin-right: 12px;
  float: left;

  object-fit: scale-down;
  background-color: aqua;
  object-position: 10px 10px;
}

.modal-text {
  clear: both;
}

.hero {
  user-select: none;
}

.input {
  caret-color: var(--color-primary);
  border: 1px solid var(--color-title);
}

:root {
  scroll-behavior: smooth;
}

.blog {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

@media all and (width <= 600px) {
  .blog {
    grid-template-columns: 1fr;
  }
}

@media all and (600px < width <= 800px) {
  .blog {
    grid-template-columns: repeat(2, 1fr);
  }
}

.form {
  gap: var(--space-l);
}

@media all and (width <= 560px) {
  .form {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
}

.form_info {
  max-width: 300px;
  width: 100%;
  line-height: 150%;
}

.form-content {
  align-items: center;
  text-align: center;
}

.hero-container {
  container-type: inline-size;
  container-name: hero;
}

@container hero (width < 960px) {
  .hero {
    flex-direction: column;
  }
}

.ex {
  display: inline-block;
  font-size: 1.5em;
  margin-left: 2ex;
}

/* .test {
  position: absolute;
  background: red;
  top: 0;
  left: 0;

  height: 100vmin;
  width: 100vmin;
  z-index: 9999;
} */

.hero-title {
  font-size: 5cqw;
}
