{{#with data}}
<h2 class="expirience_title">{{title}}</h2>
<div class="expirience_badge">{{badge}}</div>

<div class="expirience_list">
	{{#each list}}
	<div class="expirience_item">
		<strong>{{name}}</strong>
		<p>{{details}}</p>
	</div>
	{{/each}}
</div>
{{/with}}