<footer class="footer">
	{{#with footer}}
	<div>
		<span class="footer_copyright">{{copyright}}</span>
	</div>
	<div class="nav nav_inlain">
		{{#each pages}}
		<a href="{{path}}" class="nav_link">{{name}}</a>
		{{/each}}
	</div>
	{{/with}}
</footer>